@media screen and (max-width: 700px) {
  header .container {
    display: flex;
    flex-direction: column;
  }

  .btn {
    margin-top: 3px;
    width: 200px;
    height: 40px;
  }
}

@media screen and (min-width: 1000px) {
  .description {
    width: 65%;
  }
}

/* Media Queries Carousel */
@media screen and (max-width: 800px) {
  /*
  header .logotipo {
    margin-bottom: 10px;
    font-size: 30px;
  }

  header .container {
    flex-direction: column;
    text-align: center;
  }

  .main-show {
    font-size: 14px;
  }

  .main-show .description {
    max-width: 100%;
  }
}*/
  .highest-shows .carousel-container {
    overflow: visible;
  }

  .highest-shows .carousel-container .carousel {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .highest-shows .guides,
  .highest-shows .left-arrow,
  .highest-shows .right-arrow {
    display: none;
  }
}
