@media screen and (max-width: 700px) {
  body {
    background: linear-gradient(
      172deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 41%,
      rgba(229, 9, 20, 0.7875525210084033) 100%
    );
  }

  header .banner {
    display: flex;
    flex-direction: column;
  }

  .main-movie .description {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .description {
    width: 150%;
  }

  .btn {
    margin-top: 1px;
    width: 200px;
    height: 40px;
  }

  .btn2 {
    margin-top: 5px;
  }

  .highest-grossing .carousel-container .carousel .show img {
    height: 200px;
  }

  .highest-grossing .main-container .left-arrow,
  .highest-grossing .main-container .right-arrow {
    font-size: 30px;
    height: 25%;
    line-height: 20px;
  }

  .highest-grossing .carousel-container .carousel .show {
    min-width: 30%;
  }
}

@media (max-width: 1024px) and (min-width: 700px) {
  .highest-grossing .carousel-container .carousel .show {
    min-width: 25%;
  }
}

@media screen and (min-width: 1024px) {
  .description {
    width: 65%;
  }
}
